/*

	FONTS, BABY

*/

/* Open Sans - Light */
@font-face {
	font-family:"Open Sans";
	font-style:normal;
	font-weight:lighter;
	src:url("fonts/Open_Sans/OpenSans-Light.ttf");
}
/* Open Sans - Light Italic */
@font-face {
	font-family:"Open Sans";
	font-style:italic;
	font-weight:lighter;
	src:url("fonts/Open_Sans/OpenSans-LightItalic.ttf");
}

/* Open Sans - Regular */
@font-face {
	font-family:"Open Sans";
	font-style:normal;
	font-weight:normal;
	("fonts/Open_Sans/OpenSans-Regular.ttf");
}
/* Open Sans - Regular Italic */
@font-face {
	font-family:"Open Sans";
	font-style:italic;
	font-weight:normal;
	src:url("fonts/Open_Sans/OpenSans-Italic.ttf");
}

/* Open Sans - Bold */
@font-face {
	font-family:"Open Sans";
	font-style:normal;
	font-weight:bold;
	src:url("fonts/Open_Sans/OpenSans-Bold.ttf");
}
/* Open Sans - Bold Italic */
@font-face {
	font-family:"Open Sans";
	font-style:italic;
	font-weight:bold;
	src:url("fonts/Open_Sans/OpenSans-BoldItalic.ttf");
}

/* Open Sans - ExtraBold */
@font-face {
	font-family:"Open Sans";
	font-style:normal;
	font-weight:900;
	src:url("fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}
/* Open Sans - ExtraBold Italic */
@font-face {
	font-family:"Open Sans";
	font-style:italic;
	font-weight:900;
	src:url("fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
}

/* PT Serif - Regular */
@font-face {
	font-family:"PT Serif";
	font-style:normal;
	font-weight:normal;
	src:url("fonts/PT_Serif/PT_Serif-Web-Regular.ttf");
}
/* PT Serif - Italic */
@font-face {
	font-family:"PT Serif";
	font-style:italic;
	font-weight:normal;
	src:url("fonts/PT_Serif/PT_Serif-Web-Italic.ttf");
}

/* PT Serif - Bold */
@font-face {
	font-family:"PT Serif";
	font-style:normal;
	font-weight:bold;
	src:url("fonts/PT_Serif/PT_Serif-Web-Bold.ttf");
}
/* PT Serif - Bold Italic */
@font-face {
	font-family:"PT Serif";
	font-style:italic;
	font-weight:bold;
	src:url("fonts/PT_Serif/PT_Serif-Web-BoldItalic.ttf");
}


/*

	TIME TO THEME IT UP, YO.

*/
body {
	font-family:"Open Sans", "OpenSans", Helvetica, Arial, sans-serif;
	/*color:#737680;*/
	color:#e5e5e5;
}

body, .Content {
	background-color:#151515;
}

h1, h3, h5 {
	/*font-family:"PT Serif", Georgia, serif;*/
	/*font-style:italic;*/
	font-weight:normal;
}

h2, h4, h6 {
	font-family:"Open Sans", "OpenSans", Helvetica, Arial, sans-serif !important;
	font-weight:bold;
	font-style:normal;
	text-transform:uppercase;
	opacity:0.9;
}

h1, h2, h3 {
	/*color:#404552;*/
	color:#e5e5e5;
	line-height:0.9em;
	/*letter-spacing:-1px;*/
}

a {
	color:#4cb3cb;
	text-decoration:none;
}

a[name] {
	color:#e5e5e5;
}

a img {
	border:none;
}

a:hover {
	text-decoration:underline;
}

blockquote {
	font-family:"PT Serif", Georgia, serif;
	font-weight:normal;
	font-style:italic;
	opacity:0.8;
	/*text-shadow:1px 1px 0 #fff;*/
}

header {
	background-color:#151515;
}

footer {
	color:#454545;
	background-color:#e5e5e5;
}

article h1 {
	margin-bottom:20px;
}

aside {
	font-family:"PT Serif", Georgia, serif;
	font-weight:normal;
}

section.Info, blockquote {
	border-left:1px dashed #555;
}

.Wrapper {
	box-shadow:0 -16px 100px rgba(0, 0, 0, 0.96);
}